# SmartScan — зависимости Python
# Внутри venv: pip install -r requirements.txt

# --- Ethereum SAST ---
slither-analyzer>=0.11.0       # Статический анализатор Solidity
solc-select>=1.0.4             # Менеджер версий компилятора Solidity

# --- Ethereum символьный анализ ---
z3-solver==4.12.1.0
mythril>=0.24.7
